#contact {
    padding: 5rem 6rem 0 6rem;
    @include max-width (450px) {
        padding: 5rem 0.5rem 0 0.5rem;
    }
    h1 {
        position: relative;
        text-align: center;
        color: $grey;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.25rem;
        &::after {
            content: "";
            position: absolute;
            left: calc(50% - 37px);
            bottom: -16px;
            width: 75px;
            border-bottom: 2px solid $dark-pink;
        }
    }
    h2 {
        text-align: center;
        margin-top: 2rem;
        font-size: 1.1rem;
        font-weight: 300;
        color: $grey;
    }
    form {
        display: grid;
        position: relative;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
        grid-gap: 15px 25px;
        margin: 3.5rem auto 2rem auto;
    }
    input {
        height: 35px;
    }
    .message-area {
        grid-column: 1 /-1;
        padding-top: 0.5rem;
        height: 125px;
    }
    input,
    textarea {
        border: 1px solid #ccc;
        padding-left: 10px;
        color: $dark-grey;
        font-size: 0.85rem;
        font-weight: 300;
        &::placeholder {
            color: $dark-grey;
        }
        &:focus {
            border: solid 1px $pink;
            outline: 0;
        }
    }
    .btn--form {
        color: white;
        width: 150px;
        margin: 1.5rem calc(100% - 60px);
        @include max-width(1033px) {
            margin: 1.5rem calc(50% - 75px) 5rem;
        }
    }
    .media-icons {
        display: grid;
        grid-template-columns: repeat(4, 85px);
        justify-content: center;
        margin-bottom: 5rem;
    }
    ion-icon {
        cursor: pointer;
        color: $dark-pink;
        font-size: 2.25rem;
        margin: 0 auto;
        transition: color 500ms ease;
        @include min-width(780px) {
            &:hover {
                color: $grey;
            }
        }
    }
}