html,
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

#hamburger-menu {
  display: none;
  position: fixed;
  cursor: pointer;
  background-color: rgba(34, 34, 34, 0.75);
  padding: 10px;
  right: 5px;
  z-index: 10; }
  @media only screen and (max-width: 660px) {
    #hamburger-menu {
      display: block; } }
  #hamburger-menu > div {
    height: 2px;
    width: 25px;
    background-color: white;
    margin: 8px 0; }

.bg-grey {
  background-color: rgba(34, 34, 34, 0.75); }

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: background-color 500ms ease;
  color: rgba(255, 255, 255, 0.8); }
  .nav-menu .menu-visible {
    max-height: 300px; }
  .nav-menu h1 {
    margin-left: 6rem;
    flex-grow: 1;
    font-size: 1.5rem; }
    @media only screen and (max-width: 1000px) {
      .nav-menu h1 {
        margin-left: 2rem; } }
    @media only screen and (max-width: 660px) {
      .nav-menu h1 {
        display: none; } }
  .nav-menu nav {
    display: flex;
    margin-right: 6rem;
    align-items: center; }
    @media only screen and (max-width: 1000px) {
      .nav-menu nav {
        margin-right: 2rem; } }
    @media only screen and (max-width: 660px) {
      .nav-menu nav {
        flex-direction: column;
        min-width: 100%;
        max-height: 0;
        overflow: hidden; } }
  .nav-menu a {
    padding: 0.5rem 1rem;
    color: rgba(255, 255, 255, 0.8);
    transition: color 500ms ease; }
    @media only screen and (min-width: 780px) {
      .nav-menu a:hover {
        color: #C54DAA; } }
    @media only screen and (max-width: 450px) {
      .nav-menu a {
        min-width: 100%;
        padding-left: 2rem; } }

.header-info {
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(27, 113, 214, 0.5), rgba(197, 77, 170, 0.5)), url("../../public/images/header.jpg") center no-repeat;
  background-size: cover;
  height: 105vh; }
  .header-info article {
    width: 40%;
    position: relative;
    left: 15%;
    color: rgba(255, 255, 255, 0.9); }
    @media only screen and (max-width: 1000px) {
      .header-info article {
        width: 60%; } }
    @media only screen and (max-width: 450px) {
      .header-info article {
        width: 90%;
        top: 5%;
        left: 5%; } }
    .header-info article h1 {
      font-weight: 900;
      font-size: 3.75rem;
      letter-spacing: -1px;
      text-transform: uppercase; }
    .header-info article p {
      font-weight: 300;
      font-size: 1.7rem; }
    .header-info article .welcome {
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: -3.25rem; }
    .header-info article .description {
      font-size: 1.4rem;
      line-height: 1.9rem;
      margin-top: -1.75rem; }

.btn {
  background-color: #C54DAA;
  padding: 14px 20px;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
  border-top: 4px solid #b73c9b;
  transition: background-color 500ms ease; }
  .btn--margin-top {
    margin-top: 2rem; }
  @media only screen and (min-width: 780px) {
    .btn:hover {
      background-color: #b73c9b; } }

.btn-active {
  background-color: #b73c9b; }

.gallery--btns {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0; }
  .gallery--btns .btn-active {
    color: white;
    background-color: #b73c9b; }
  .gallery--btns button {
    cursor: pointer;
    margin: .75rem;
    border: 1px solid #b73c9b;
    background-color: white;
    color: #b73c9b;
    padding: .5rem 1rem;
    transition: all 250ms ease; }
    @media only screen and (min-width: 780px) {
      .gallery--btns button:hover {
        color: white;
        background: #b73c9b; } }

.close-btn {
  cursor: pointer;
  position: fixed;
  height: 20px;
  right: 40px;
  color: white;
  font-size: 4rem;
  font-weight: 300;
  transition: color 500ms ease; }
  .close-btn:hover {
    color: #b73c9b; }

.modal-btns {
  display: none; }
  @media only screen and (max-width: 950px) {
    .modal-btns {
      display: block;
      text-align: center; } }
  .modal-btns button {
    background-color: transparent;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px white solid;
    font-size: 4rem;
    font-weight: 300;
    color: white; }
    .modal-btns button:nth-child(1) {
      margin-right: 3rem; }
    .modal-btns button:nth-child(2) {
      margin-left: 3rem; }

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(34, 34, 34, 0.95); }
  .modal-background figure {
    margin: 0; }
  .modal-background .img-main {
    display: block;
    position: relative;
    height: 300px;
    width: 500px;
    margin: 2rem auto;
    pointer-events: none; }
    @media only screen and (max-width: 950px) {
      .modal-background .img-main {
        height: 360px;
        width: 600px;
        margin: 5rem auto 3rem auto; } }
    @media only screen and (max-width: 600px) {
      .modal-background .img-main {
        height: 182px;
        width: 302px;
        margin-top: 10rem; } }
  .modal-background .modal-gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 5px;
    margin-top: 3rem; }
    @media only screen and (max-width: 950px) {
      .modal-background .modal-gallery {
        display: none; } }
    .modal-background .modal-gallery img {
      cursor: pointer;
      height: 100px;
      width: 150px; }

.about-us-layout {
  display: flex;
  background-color: #f6f6f6;
  flex-wrap: wrap;
  padding: 5rem 6rem; }
  @media only screen and (max-width: 1150px) {
    .about-us-layout {
      padding: 5rem .75rem;
      flex-direction: column; } }
  .about-us-layout h1 {
    flex: 0 0 100%;
    position: relative;
    margin-bottom: 5rem;
    text-align: center;
    color: #888;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.25rem; }
    .about-us-layout h1::after {
      content: "";
      position: absolute;
      left: calc(50% - 37px);
      bottom: -16px;
      width: 75px;
      border-bottom: 2px solid #b73c9b; }
  .about-us-layout h2 {
    color: #b73c9b;
    font-weight: 400;
    font-size: 1.25rem; }
  .about-us-layout figure {
    margin: 0;
    width: 100%;
    flex: 1; }
  .about-us-layout img {
    display: block;
    height: 275px;
    margin: 0 auto; }
    @media only screen and (max-width: 860px) {
      .about-us-layout img {
        height: 150px; } }
  .about-us-layout article {
    flex: 1; }
  .about-us-layout p {
    line-height: 22px;
    font-weight: 300;
    color: #888;
    font-size: .95rem; }

#our-services {
  padding: 5rem 6rem; }
  @media only screen and (max-width: 1150px) {
    #our-services {
      padding: 5rem .75rem; } }
  #our-services h1 {
    position: relative;
    text-align: center;
    color: #888;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.25rem; }
    #our-services h1::after {
      content: "";
      position: absolute;
      left: calc(50% - 37px);
      bottom: -16px;
      width: 75px;
      border-bottom: 2px solid #b73c9b; }
  #our-services h2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 300;
    color: #888; }
  #our-services section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 3.5rem;
    text-align: center; }
    #our-services section figure {
      margin: 1rem 0 2rem 0; }
    #our-services section .icon-services {
      font-size: 6rem;
      color: #C54DAA; }
    #our-services section h3 {
      font-size: 1.2rem;
      color: #b73c9b;
      font-weight: 600;
      text-transform: uppercase; }
    #our-services section p {
      line-height: 22px;
      font-weight: 300;
      color: #888;
      font-size: .95rem; }

.display-none {
  display: none; }

#gallery {
  background-color: #f6f6f6;
  padding: 5rem 6rem 0 6rem; }
  @media only screen and (max-width: 1150px) {
    #gallery {
      padding: 5rem 0.75rem 0 0.75rem; } }
  #gallery h1 {
    position: relative;
    text-align: center;
    color: #888;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.25rem; }
    #gallery h1::after {
      content: "";
      position: absolute;
      left: calc(50% - 37px);
      bottom: -16px;
      width: 75px;
      border-bottom: 2px solid #b73c9b; }
  #gallery h2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 300;
    color: #888; }
  #gallery .imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    grid-gap: 15px;
    padding-bottom: 8rem;
    justify-content: center; }
    #gallery .imgs section {
      cursor: pointer;
      padding: 0;
      position: relative;
      transition: all 500ms ease; }
      @media only screen and (min-width: 780px) {
        #gallery .imgs section:hover {
          transform: scale(1.1); } }
    #gallery .imgs img {
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
    #gallery .imgs div {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      color: white;
      width: 100%;
      height: 100%;
      opacity: 0;
      text-align: center;
      pointer-events: painted;
      transition: all 500ms ease; }
      @media only screen and (min-width: 780px) {
        #gallery .imgs div:hover {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.66); } }
    #gallery .imgs p {
      position: relative;
      height: 10%;
      top: 40%;
      transform: translateY(-50%); }

#parallax {
  background: linear-gradient(rgba(27, 113, 214, 0.5), rgba(197, 77, 170, 0.5)), url("../images/parallax.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 5rem 0;
  color: white; }
  #parallax h1 {
    position: relative;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.25rem; }
    #parallax h1::after {
      content: "";
      position: absolute;
      left: calc(50% - 37px);
      bottom: -16px;
      width: 75px;
      border-bottom: 2px solid #b73c9b; }
  #parallax .info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 300px));
    justify-content: center;
    text-align: center; }
  #parallax article {
    margin-top: 1rem; }
  #parallax h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem; }
  #parallax p {
    text-transform: uppercase; }

#testimonials {
  background-color: #f6f6f6;
  padding: 5rem 6rem; }
  @media only screen and (max-width: 1000px) {
    #testimonials {
      padding: 5rem 1rem; } }
  #testimonials h1 {
    position: relative;
    text-align: center;
    color: #888;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.25rem; }
    #testimonials h1::after {
      content: "";
      position: absolute;
      left: calc(50% - 37px);
      bottom: -16px;
      width: 75px;
      border-bottom: 2px solid #b73c9b; }
  #testimonials .profiles {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    width: 65%;
    margin: 3.5rem auto 0 auto; }
    @media only screen and (max-width: 1000px) {
      #testimonials .profiles {
        width: 100%; } }
  #testimonials .profile-active {
    opacity: 1; }
  #testimonials article {
    min-width: 100%;
    opacity: 0;
    transition: all 500ms ease-in; }
    #testimonials article:nth-child(1) {
      transform: translateX(100%); }
    #testimonials article:nth-child(3) {
      transform: translateX(-100%); }
  #testimonials img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-bottom: 1.5rem; }
  #testimonials p {
    line-height: 22px;
    font-weight: 300;
    color: #888;
    font-size: 0.95rem;
    margin-bottom: 1.5rem; }
  #testimonials span {
    font-weight: bold; }
  #testimonials .indicators {
    display: flex;
    justify-content: center; }
    #testimonials .indicators div {
      cursor: pointer;
      width: 20px;
      height: 7px;
      margin-right: .5rem;
      border: 1px solid #888;
      transition: all 500ms ease; }
    #testimonials .indicators .active {
      background-color: #b73c9b;
      border: solid 1px #b73c9b; }

#contact {
  padding: 5rem 6rem 0 6rem; }
  @media only screen and (max-width: 450px) {
    #contact {
      padding: 5rem 0.5rem 0 0.5rem; } }
  #contact h1 {
    position: relative;
    text-align: center;
    color: #888;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.25rem; }
    #contact h1::after {
      content: "";
      position: absolute;
      left: calc(50% - 37px);
      bottom: -16px;
      width: 75px;
      border-bottom: 2px solid #b73c9b; }
  #contact h2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 300;
    color: #888; }
  #contact form {
    display: grid;
    position: relative;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
    grid-gap: 15px 25px;
    margin: 3.5rem auto 2rem auto; }
  #contact input {
    height: 35px; }
  #contact .message-area {
    grid-column: 1 /-1;
    padding-top: 0.5rem;
    height: 125px; }
  #contact input,
  #contact textarea {
    border: 1px solid #ccc;
    padding-left: 10px;
    color: rgba(34, 34, 34, 0.75);
    font-size: 0.85rem;
    font-weight: 300; }
    #contact input::placeholder,
    #contact textarea::placeholder {
      color: rgba(34, 34, 34, 0.75); }
    #contact input:focus,
    #contact textarea:focus {
      border: solid 1px #C54DAA;
      outline: 0; }
  #contact .btn--form {
    color: white;
    width: 150px;
    margin: 1.5rem calc(100% - 60px); }
    @media only screen and (max-width: 1033px) {
      #contact .btn--form {
        margin: 1.5rem calc(50% - 75px) 5rem; } }
  #contact .media-icons {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    justify-content: center;
    margin-bottom: 5rem; }
  #contact ion-icon {
    cursor: pointer;
    color: #b73c9b;
    font-size: 2.25rem;
    margin: 0 auto;
    transition: color 500ms ease; }
    @media only screen and (min-width: 780px) {
      #contact ion-icon:hover {
        color: #888; } }

.footer-layout {
  display: flex;
  height: 12vh;
  background: linear-gradient(to right, #c54daa, #1b71d6);
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  font-weight: 300;
  font-size: 0.9rem; }
  @media only screen and (max-width: 400px) {
    .footer-layout {
      font-size: .75rem; } }

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }
