.btn {
    background-color: $pink;
    padding: 14px 20px;
    text-transform: uppercase;
    font-size: 15px;
    border: none;
    border-top: 4px solid $dark-pink;
    transition: background-color 500ms ease;
    &--margin-top {
        margin-top: 2rem;
    }
    @include min-width(780px) {
        &:hover {
            background-color: $dark-pink;
        }
    }
}

.gallery--btns {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
    button {
        cursor: pointer;
        margin: .75rem;
        border: 1px solid $dark-pink;
        background-color: white;
        color: $dark-pink;
        padding: .5rem 1rem;
        transition: all 250ms ease;
        @include min-width (780px) {
            &:hover {
                color: white;
                background: $dark-pink;
            }
        }
    }
}

.close-btn {
    cursor: pointer;
    position: fixed;
    height: 20px;
    right: 40px;
    color: white;
    font-size: 4rem;
    font-weight: 300;
    transition: color 500ms ease;
    &:hover {
        color: $dark-pink;
    }
}

.modal-btns {
    display: none;
    @include max-width (950px) {
        display:block;
        text-align: center;
    }

    button {
        background-color: transparent;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 1px white solid;
        font-size: 4rem;
        font-weight: 300;
        color: white;

        &:nth-child(1) {
            margin-right: 3rem;
        }
        &:nth-child(2) {
            margin-left: 3rem;
        }
    }
}