/* BASE STYLES
============================================================================= */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.pd-top             {padding-top:6rem;}
.bg-off-white       {background-color: #f6f6f6;}

.icon-pnk           {color: #b73c9b;}
.icon-size--lrg     {font-size:6rem;}

.text-style {
    line-height: 22px;
    font-weight:300;
    color: #888;
    font-size: .95rem;
}

/* SECTION STYLES
============================================================================= */

/* --- Nav-Menu --- */

#nav-menu {
    display: block;
    position: relative;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100px;
}

#nav-menu .nav-menu-content {
    margin: 0 6.75rem;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
}

#nav-menu .nav-menu-content .logo {
    float: left;
    padding: .75rem 1rem .75rem 1rem;
    font-size: 1.2rem;
    margin: 0;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
}

#nav-menu .nav-menu-content nav    {float: right;}
#nav-menu .nav-menu-content nav ul {
    list-style:none;
    padding: 0;
}

#nav-menu .nav-menu-content nav ul li {
    float: left;
}

#nav-menu .nav-menu-content nav ul li a {
    display: block;
    text-decoration: none;
    padding: .75rem 1rem .75rem 1rem;
    color: rgba(255,255,255,0.8);
    font-size: .95rem;
    text-transform: uppercase;
    transition: color 500ms ease;
}

/* --- Header --- */

#header {
    display: flex;
    background: linear-gradient(rgba(27,113,214,0.5),rgba(197,77,170,0.5)),
                url("images/header.jpg") center no-repeat;
    background-size: cover;
    height: 105vh;
}

.header-info {
    position: relative;
    top: 5%;
    left: 15%;
    align-self:center;
    width: 40%;
}

.header-info p {
    color: rgba(255,255,255,0.5);
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: 1px;
    margin-bottom: -3.25rem;
}

.header-info h1 {
    color:rgba(255,255,255,0.9);
    font-weight: 900;
    font-size: 5rem;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.header-info h2 {
    color:white;
    font-weight: 300;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.9rem;
    margin-top: -1.75rem;
}

.header-info .button {
    text-transform: uppercase;
	color: #fff;
	background-color: #C54DAA;
	padding: 14px 20px;
	font-size: 15px;
    margin-top: 2rem;
    transition: all 0.3s;
    border: none;
	border-top: 4px solid #b73c9b;
}

/* --- About Us --- */

#about-us {
    height:90vh;
    padding: 0 6.75rem;
}

.style .title {
    position: relative;
    text-align: center;
    color:#666;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.25rem;
}

.style .title::after {
    content: "";
    position:absolute;
    top: 0px;
    right: 2px;
    bottom: -20px;
    left: 0;
    width: 75px;
    margin: 0 auto;
    border-bottom: 2px solid #b73c9b;
    transition: border-bottom ease-in-out 0.5s;
}

.style .content {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
}

.style .content figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.style .content article > * {
    margin-bottom: 2rem;
}

.style .content article h3 {
    color:#b73c9b;
    font-weight: 400;
    font-size: 1.25rem;
}

.text-style {
    line-height: 22px;
    font-weight:300;
    color: #888;
    font-size: .95rem;
}

/* --- Our Services --- */

#our-services {
    height: 90vh;
    padding: 0 6.75rem;
}

#our-services section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    margin-top: 3.5rem;
}

#our-services section article > * {text-align: center;}

.style section article  {padding: 1rem;}

.style h3 {
    text-align: center;
    margin-top: 2.4rem;
    font-weight: 300;
    color: #888;
}

.style section article h4 {
    margin: 1rem 0 .5rem 0;
    font-size: 1.2rem;
    color: #b73c9b;
    font-weight: 400;
    text-transform: uppercase;
}

/* --- Gallery --- */

#gallery {
    padding: 0 6.75rem;
}

#gallery .btns {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;  
}

#gallery .btns button {
    margin-right: 1.5rem;
    border:1px solid #b73c9b;
    background-color: white;
    transition: all 250ms ease;
    color: #b73c9b;
    padding: .5rem 1rem;
    cursor: pointer;
}

#gallery .btns .btn-active {
    color: white;
    background: #b73c9b;
}

#gallery .imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    grid-gap: 15px;
    margin-bottom: 8rem;
    justify-content: center;
}

#gallery .imgs img {
    position: relative;
    height: 150px;
    width: 250px;
    cursor: pointer;
    transition:all 500ms ease;
}

#gallery article {
    background-size: cover;
    position: relative;
    padding: 0;
    transition: all 500ms ease;
}

#gallery article .img-overlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.66);
    opacity: 0;
    width:100%;
    height:100%;
    transition: all 500ms ease;
}

#gallery article .img-overlay a {
    display: flex;
	position:relative;
	height:100%;
	width:100%;
	display:block;
    text-decoration:none;
    color: white;
    text-align: center;
    transition: all 500ms ease;
}

#gallery article .img-overlay a p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* MOBILE RESPONSIVENESS
============================================================================= */

@media only screen and (min-width: 480px) {
    
    /* Nav Menu */
    #nav-menu .nav-menu-content nav ul li a:hover {
        color:#cd65b5;
    }

    /* Header */
    .header-info .button:hover {
        background-color: #b73c9b;
    }

    /* Gallery */
    #gallery .btns button:hover {
        color: white;
        background: #b73c9b;
    }

    #gallery article:hover {
        transform: scale(1.1);
    }

    #gallery article .img-overlay:hover {
        opacity: 1;
    }


}