//============= COLORS =============//

$dark-grey: rgba(34, 34, 34, 0.75);
$grey: #888;

$off-white: #f6f6f6;

$pink: #C54DAA;
$dark-pink: #b73c9b;
$pink-tint:rgba(197, 77, 170, 0.5);

$blue-tint: rgba(27, 113, 214, 0.5);